html, body {
    margin: 0;
    padding: 0;
    background-color: black;
}

html, body {
    margin: 0;
    padding: 0%;
    background-color: black;
    box-sizing: border-box;
}

.nav1 {
    list-style-type: none;
    margin: 0;
    padding: 0;
    overflow: hidden;
}

.sec-menu-nav {
    position: relative;
    list-style-type: none;
    top: 1100px;
    left: 0px;
    overflow: hidden;
    margin: auto;
}

.sec-menu-nav li {
    margin-left: 40px;
    margin-top: 30px;
    float: left;
}

.sec-menu-nav li a {
    margin-left: 16px;
    display: block;
    color: white;
    text-align: center;
    text-decoration: none;
}

.nav1 li {
    margin-left: 50px;
    margin-top: 30px;
    float: left;
}

.nav1 li a {
    margin-left: 80px;
    display: block;
    color: white;
    text-align: center;
    padding: 14px 16px;
    text-decoration: none;
}

/* Change the link color to #111 (black) on hover */

.nav1 li a:hover {
    background-color: #111;
}

.nav1 #contact {
    margin-left: 200px;
}

.head-img img {
    top: 25px;
    position: absolute;
    align-items: center;
    left: 730px;
}

.nav1 #sign {
    margin-left: 100px;
}

.head-img2 {
    margin-top: 45px;
}

.head-img2 img {
    position: absolute;
    align-items: center;
    left: 1170px;
}

.head-img3 img {
    margin-left: 50px;
}

.sec-menu-nav #menu {
    left: 10px;
    font-size: 28px;
    position: absolute;
    top: 20px;
}

.sec-menu-nav {
    position: absolute;
    top: 150px;
    left: 90px;
}

.mushroom {
    position: absolute;
    top: 200px;
    left: 90px;
}

.olivka {
    position: absolute;
    right: 420px;
    top: 540px;
}

.menu-image {
    margin-bottom: 150px;
    width: 70%;
    left: 220px;
    position: relative;
    display: flex;
    top: 190px;
    justify-content: space-around;
}

.menu-image h1 {
    font-family: Montserrat;
    font-size: 18px;
    line-height: 22px;
    color: #FFFFFF;
}

.menu-image p {
    color: white;
    font-family: Montserrat;
    font-style: normal;
    font-size: 16px;
    line-height: 15px;
    bottom: 10px;
}

#som {
    font-weight: bold;
}

#operator {
    position: absolute;
    left: 150px;
    top: 281px;
}

#korzine {
    position: absolute;
    left: 245px;
    top: 275px;
    text-transform: uppercase;
    font-family: Montserrat;
    font-size: 14px;
    line-height: 17px;
}

#korzine {
    border: 1px solid white;
    height: 30px;
    padding-top: 5px;
    padding-left: 3px;
    padding-right: 3px;
}

#kor-2 {
    border: 1px solid white;
    height: 30px;
    padding-top: 5px;
    padding-left: 3px;
    padding-right: 3px;
    position: absolute;
    left: 600px;
    top: 275px;
    text-transform: uppercase;
    font-family: Montserrat;
    font-size: 14px;
    line-height: 17px;
}

#operaor-1 {
    position: absolute;
    left: 500px;
    top: 281px;
}

#kor-3 {
    border: 1px solid white;
    height: 30px;
    padding-top: 5px;
    padding-left: 3px;
    padding-right: 3px;
    position: absolute;
    left: 950px;
    top: 275px;
    text-transform: uppercase;
    font-family: Montserrat;
    font-size: 14px;
    line-height: 17px;
}

#opraor-2 {
    position: absolute;
    left: 850px;
    top: 281px;
}

.sous {
    position: absolute;
    top: 900px;
    right: 140;
}

.brokoli {
    position: absolute;
    top: 1050px;
    right: 410px;
}

.chili {
    position: absolute;
    top: 1050px;
    right: 30px;
}

.more-download-btn{
    font-family: Montserrat;
    font-style: normal;
    font-weight: normal;
    margin-bottom: 100px;
    
    line-height: 24px;
    text-transform: uppercase;
    position: absolute;
    position: absolute;
    width: 276px;
    height: 60px;
    left: 582px;
    font: outline;
   
    top: 1580px;
    border: 1px solid #FFFFFF;
}
.more-download-btn button{
    background:transparent;
    width: 276px;
    height: 60px;
    color: #FFFFFF;
    font-size: 24px;

}
.footer-img{
    position: absolute;
    top: 1600px;
}
.footer-logo img{
    position: absolute;
    top: 2000px;
    left: 105px;
    padding-bottom: 100px;
   

}
.footer-logo{
    margin-bottom: 100px;
}
.footer-text{
    position: absolute;
    display: flex;
    justify-content: space-around;
    width: 50%;
    top: 2060px;
    left: 380px;
    color: white;
    line-height: 12px;
}

.footer-text h1{
    font-family: Montserrat;
font-style: normal;
font-weight: 500;
font-size: 20px;
line-height: 29px;
}
.footer-text p{
    font-family: Montserrat;
font-style: normal;
font-weight: normal;
font-size: 16px;
line-height: 5px;
}
.footer-contact{
    position: absolute;
    top: 1990px;
   left: 1320px;
   
}
.contact{
    margin: 30px;
}
